---
import type { MarkdownInstance } from "astro";
import Button from "../Button.astro";
import SectionDivider from "../SectionDivider.astro";
import { getLangFromUrl } from "../../utils";
import { sections } from "../../content/structure/sections";

interface Props {
  number?: boolean;
  aboutContent?: string;
}

const { number, aboutContent } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const sectionsData = sections[lang];

export const aboutSection = {
  en: {
    more_about_us: "More about us",
    about_url: "/en/about",
  },
  de: {
    more_about_us: "Mehr über uns",
    about_url: "/about",
  },
};

const aboutSectionData = aboutSection[lang];

const aboutPages = Object.values(import.meta.glob<MarkdownInstance<Record<string, any>>>("../../content/pages/*/about.md", { eager: true }));
const aboutPage = aboutPages.find(p => p.url?.endsWith(`${lang}/about`));
const rawHTML = aboutContent ?? await aboutPage!.compiledContent();
---

<div class="section-wrapper about">
  <video autoplay muted loop playsinline class="about-video">
    <source src="/assets/about.mp4" type="video/mp4" />
  </video>
  <section id="about" class="divided-section">
    <div class="console">
      <h3>{number ? "04 | " : ""}<span class="scramble">{sectionsData.about}</span></h3>
      <div class="text-content">
        <div set:html={rawHTML} />
        {number ? <Button content={aboutSectionData.more_about_us} link={aboutSectionData.about_url} /> : null}
      </div>
    </div>
    {!number ? <SectionDivider nextsection="about-authors" /> : null}
  </section>
</div>
{!number ? (
  <section id="about-authors">
    <div class="console">
      <h3><span class="scramble">{sectionsData.about_authors}</span></h3>
      <div class="author-wrapper">
        <slot name="authors" />
      </div>
    </div>
  </section>
) : null}
