---
import PageLayout from "./PageLayout.astro";
import Cooperation from "../components/sections/Cooperation.astro";
import Expertise from "../components/sections/Expertise.astro";
import * as Icons from "../components/icons";

export interface Props {
  title: string;
  icon: string;
  summary: string;
  primary_question?: string;
  primary_answer?: string;
  details: { question: string; answer: { name: string; description: string }[] }[];
  meta_title?: string;
  meta_description?: string;
}

function toPascalCase(str: string): string {
  return str
    .split("_")
    .map((w) => w.charAt(0).toUpperCase() + w.slice(1))
    .join("");
}

const { title, icon, summary, primary_question, primary_answer, details, meta_title, meta_description } = Astro.props;
const IconComponent = (Icons as Record<string, any>)[toPascalCase(icon)];
---

<PageLayout title={title} meta_title={meta_title} meta_description={meta_description}>
  <Cooperation maintitle={title} faq={details} primary_question={primary_question} primary_answer={primary_answer} iconComponent={IconComponent} image_alt={title} />
  <Expertise text={summary} button_text="More about us" button_url="/about" />
  <section>
    <slot />
  </section>
</PageLayout>
